---
import Banner from '../components/Banner.astro';
import Header from '../components/Header.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/icon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Awest Manga</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/global.scss" />
	</head>
	<body>
		<!-- <h1>Astro</h1> -->
		<Header />

		<div class="content">
			<Banner />
		</div>
		
		<div class="image">
			<img src="/images/logo.png" alt="">
		</div>
		<h2>Muy pronto...</h2>

		<style lang="scss">
			@import '../styles/global.scss';

			body {
				// width: 100%;
				// margin: 0 auto !important;
			}

			.content {
				width: 100%;
				max-width: 1200px;
				margin: 0 auto;

			}

			.image{ 
				width: 200px;
				position: relative;

				img {
					position: absolute;
					max-width: 200px;
					margin-top: 100px;
					height: auto;
					animation: pulse 2s linear infinite;
					transform: translateX(10px);
				}
				@keyframes pulse {
					0% {
						transform: scale(1);
					}
					50% {
						transform: scale(1.1);
					}
					100% {
						transform: scale(1);
					}
				}
			}

			@media (max-width: 800px) {
			}
		</style>
	</body>
</html>
