---
import Banner from '../components/Banner.astro';
import Cards from '../components/Cards.astro';
import Layout from '../layouts/Layout.astro';
---


<Layout>
	<div class="content">
		<Banner />
		<Cards />
	</div>
</Layout>

<style lang="scss">
	.content {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
</style>


