---
---

<nav class="navbar">
    <a href="/" class="navbar__logo">
        <!-- <img src="images/logo.png" alt=""> -->
        <!-- <img src="images/awest-largo.png" alt="logo de awest"> -->
        <img src="images/awest-corto.png" alt="logo de awest">
    </a>

    <span class="material-symbols-outlined">
        shopping_bag
    </span>

</nav>


<style lang="scss">
    .navbar {
        width: 100%;
        min-height: 70px;
        background-color: #FE60AA;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;

        img {
            height: 40px;
        }

        .navbar__logo {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            span {
                font-size: 30px;
                font-weight: 600;
                color: #fff;
            }
        }

        span {
            color: #fff;
            font-size: 25px;
            cursor: pointer;
        }

    }
</style>