<div class="text">
    <h2>Estamos trabajando en el contenido...</h2>
    <img src="images/construction.png" alt="bocchi chambeadora">
</div>

<style lang="scss">
    .text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        h2 {
            text-align: center;
        }
    }

    img {
        width: 150px;
        filter: drop-shadow(
            0 0 10px rgba(255, 116, 192, 0.3)
        )
    }
</style>